.homeContainer {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  margin: 20px;

  font-size: 6rem;
}

.selectionsContainer {
  margin-top: 40px;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;


  font-size: 3rem;
}

.numberInput {
  width: 100px;

  font-size: 2rem;
  text-align: center;
}

.play {
  margin-top: 40px;
  padding: 5px 30px;

  font-size: 2.5rem;
  font-family: inherit;

  border-radius: 0.5rem;
  border: 1px solid gray;
  background-color: #7cddff;
}

.play:hover {
  cursor: pointer;
}